[Desktop Entry]
Type=Application
Version=1.0
Name=Jazz2 Resurrection
GenericName=Jazz2
Comment=Jazz2
Exec=sh -c "SDL_VIDEODRIVER=wayland jazz2 /fullscreen"
Icon=jazz2.png
Terminal=false
Categories=Game;
X-Ubuntu-Touch=true
Name[cs]=Jazz2 Resurrection
